/* Styles for NewOrder component */
.neworder-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #303062, #BE67AB, #FDF6B2);
    overflow-x: hidden;
    height: 88vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .neworder-container {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 85px;
  }
  
  .neworder-title {
    font-size: 1.5rem;
    color: #6E0095;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .neworder-description {
    color: black;
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 8px;
    background-color: #e5e7eb;
  }
  
  .neworder-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #6E0095;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 1rem;
  }
  
  .neworder-button {
    width: 100%;
    background-color: #6E0095;
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .neworder-button:hover {
    background-color: #824e95;
  }
  